
<div *ngIf="enableLoader" class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>

<ng-container *ngIf="!enableLoader">
  <mat-card class="status-board" >
    <ng-container *ngFor="let item of statusBoardItems">
      <div class="round-progress blue" [matTooltipTouchGestures]="'auto'" matTooltip="Info about the action" > <span class="round-progress-left"> <span class="round-progress-bar"></span> </span> <span class="round-progress-right"> <span class="round-progress-bar"></span> </span>
        <div class="round-progress-value" >{{item.days}}<b>Days</b></div>
        <div class="label">{{item.name}}</div>
      </div>
    </ng-container>

  </mat-card>

<div class="card text-center" *ngIf="spreadSheetDataObj['totalCost']">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Year Spending :</h6>
    <h5 class="card-title">{{spreadSheetDataObj['totalCost']}}</h5>
    <div>
      <div>
        <div style="display: block">
          <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="card text-center" *ngIf="spreadSheetDataObj['currentMonthTotalSpending']">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Current Month Spending :</h6>
      <h5 class="card-title">{{spreadSheetDataObj['currentMonthTotalSpending']}}</h5>
      <div>
        <div>
          <div style="display: block">
            <canvas baseChart
              [data]="polarAreaChartData"
              [labels]="polarAreaChartLabels"
              [legend]="polarAreaLegend"
              [chartType]="polarAreaChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="card text-center" *ngIf="spreadSheetDataObj['totalUtilityCost']">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Utility Spending :
    </h6>
    <h5 *ngIf="!expandUtility" class="card-title">{{spreadSheetDataObj['totalUtilityCost']}}</h5>
    <div *ngIf="!expandUtility">
      <div class="chart" >
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>

    <!-- electricity data -->
    <div class="card text-center utility" *ngIf="expandUtility">
        <h6 class="card-subtitle mb-2 text-muted">Electricity :</h6>
        <h5 class="card-title">₹{{spreadSheetDataObj['electricityTotalAmount']}}</h5>
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="electricitybarChartData"
                [labels]="electricityChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
    </div>

      <!-- water data -->
    <div class="card text-center utility" *ngIf="expandUtility">
        <h6 class="card-subtitle mb-2 text-muted">Water :</h6>
        <h5 class="card-title">₹{{spreadSheetDataObj['waterTotalAmount']}}</h5>
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="waterbarChartData"
                [labels]="waterChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
    </div>

    <!--BoardBand-->
    <ng-container *ngFor="let item of statusBoardItems">
      <div class="card text-center utility boardband" *ngIf="expandUtility">
        <h6 class="card-subtitle mb-2 text-muted">{{item.name}} :</h6>
        <h5 class="card-title">₹{{item.amount}}
          <br>
          <h6><span>{{item.startDate}}</span><span>{{item.endDate}}</span></h6>
          <div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="item.percentage"></div>
            </div>
          </div>
        </h5>
      </div>
   </ng-container>

    <div class="utility-button">
      <button mat-icon-button color="basic" (click)="expnadUtility()" aria-label="Example icon button with a menu icon">
        <mat-icon *ngIf="!expandUtility">menu</mat-icon>
        <mat-icon *ngIf="expandUtility">clear</mat-icon>
      </button>
    </div>
    
  </div>
</div>

<mat-divider></mat-divider>
</ng-container>

<!-- 
<div>
  <div>
    <div style="display: block">
      <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
    </div>
  </div>
</div> -->








