.navbar{
  background-color: #417f98 !important;
}


.title{
  font-size: 1.2em;
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: white;
  
 
  .title-string{
    background-color: #26617e;
    padding: 10px;
    border-radius: 10px;
    margin: 0 2px;
    opacity: 0.5;
  }
}

.nav-item{
  cursor: pointer;
  border: white 1px solid;
  margin: 3px;
  border-radius: 5px;
  .nav-link{
    cursor: pointer;
    padding-left: 10px;
  }}

.nav-item:hover{
  background: rgba(255, 255, 255, 0.15);
}


.nav-item.active{
  background: rgba(255, 255, 255, 0.15);
}

nav{
  padding: 10px;
  border-radius: 4px;
}

.navBar{
  display: flex;
}

#profile{
  display: flex !important;
  padding: 2px;
  justify-content: space-between;
  color: white;
}

.dropdown-menu{
  min-width: 0 !important;
  top: 3.1em;
  left: -33px;
}

.dropdown{
  img{
    width: 36px;
    aspect-ratio: auto 36 / 36;
    height: 36px;
  }
}