.card-title{
    margin: .5em 0;
    font-size: 200%;
    color: #119fd6;
}

.card-subtitle , .card-text{
    text-align: initial;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1.25rem;
    color: #7a7a7a;
}

.card{
    margin-bottom: 30px;
}


.utility-button{
    right: 8px;
    top: 8px;
    position: absolute;
}

.utility{
    margin-top: 30px;
    h6{
        padding: 10px;
        color: #ffa1b5 !important;
        font-weight: 500;
    }
}