

<div class="card text-center" *ngIf="spreadSheetDataObj['totalCost']">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Year Spending :</h6>
    <h5 class="card-title">{{spreadSheetDataObj['totalCost']}}</h5>
    <div>
      <div>
        <div style="display: block">
          <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card text-center" *ngIf="spreadSheetDataObj['currentMonthTotalSpending']">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Current Month Spending :</h6>
      <h5 class="card-title">{{spreadSheetDataObj['currentMonthTotalSpending']}}</h5>
      <div>
        <div>
          <div style="display: block">
            <canvas baseChart
              [data]="polarAreaChartData"
              [labels]="polarAreaChartLabels"
              [legend]="polarAreaLegend"
              [chartType]="polarAreaChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="card text-center" *ngIf="spreadSheetDataObj['totalUtilityCost']">
  <div class="card-body">
    
    <h6 class="card-subtitle mb-2 text-muted">Utility Spending :
    </h6>
    <h5 *ngIf="!expandUtility" class="card-title">{{spreadSheetDataObj['totalUtilityCost']}}</h5>
    <div *ngIf="!expandUtility">
      <div class="chart" >
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>

    <!-- electricity data -->
    <div class="card text-center utility" *ngIf="expandUtility">
        <h6 class="card-subtitle mb-2 text-muted">Electricity :</h6>
        <h5 class="card-title">₹{{spreadSheetDataObj['electricityTotalAmount']}}</h5>
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="electricitybarChartData"
                [labels]="electricityChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
    </div>

      <!-- water data -->
      <div class="card text-center utility" *ngIf="expandUtility">
        <h6 class="card-subtitle mb-2 text-muted">Water :</h6>
        <h5 class="card-title">₹{{spreadSheetDataObj['waterTotalAmount']}}</h5>
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="waterbarChartData"
                [labels]="waterChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
    </div>

    <!--BoardBand-->
    <!-- <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div> -->

    <div class="utility-button">
      <button mat-mini-fab color="basic" (click)="expnadUtility()" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    
  </div>
</div>

<div style="height: 1px;"></div>
  

<!-- 
<div>
  <div>
    <div style="display: block">
      <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
    </div>
  </div>
</div> -->








