\:host{
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  color: #3a3a3a;
}

.footer{
  position: fixed;
  bottom: 7%;
  right: 5%;
  border-radius: 4px;
  padding: 0;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  button{
    background-color: #7a7e7f !important;
    margin: 5px 0;
  }
}

