/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 5rem;
  font-family: sans-serif;
  background-color: #417f9826 !important;
}

button {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  margin: 3px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
